<footer>
    <section>
        <h3>Redes</h3>
        <div>
            {{#each redes}}
            <a target="_blank" href="{{url}}">{{name}}</a>
            {{/each}}
        </div>
    </section>
</footer>