<header>
    <section>
        <h1>Portafolio</h1>
        <nav>
            <ul>
                {{#each navegacion}}
                <li><a href={{url}}>{{name}}</a></li>
                {{/each}}
            </ul>
        </nav>
    </section>
</header>