<section class="sobreMi">
    <div>
        <div class="sobre_img">
            <h3>Keren Abigail Colindres</h3>
            <img src="/img/perfil.webp" alt="Foto de presentacion">
            <h4>Lic: En Pedagogia y ciencias de la Educaion</h4>
        </div>
        <section class="sobreMI_detalle">
            {{#each sobreMi}}
            <div class="detalle_titulo">
                <h2>{{titulo}}</h2>
                <p>{{parrafo}}</p>
            </div>
            {{/each}}
        </section>
    </div>
</section>